@import "@src/scss/reset";
@import "@src/scss/general";

body {
	display: flex;
}

.Connexion {
	background-color: $blue-dark;
	margin-top: auto;
	margin-bottom: auto;
	display: grid;
	grid-template-columns: 1fr;

	@include desktop-and-bigger {
		grid-template-columns: 60% 40%;
	}

	&-login {
		background-color: $white;
		padding: 20px;
		display: flex;
		flex-direction: column;

		@include tab-and-bigger {
			padding: 30px;
		}

		@include desktop-and-bigger {
			padding: 100px;
		}
	}

	&-inscription {
		background-color: $blue-dark;
		padding: 20px;
		display: flex;
		flex-direction: column;
		color: $white;

		@include tab-and-bigger {
			padding: 30px 20px;
		}

		@include desktop-and-bigger {
			padding: 100px 30px;
		}
	}

	&-title {
		text-align: center;
		margin-bottom: 20px;
		font-size: 20px;
		@include font-title;

		@include tab-and-bigger {
			margin-bottom: 30px;
			font-size: 22px;
		}

		@include desktop-and-bigger {
			margin-bottom: 40px;
			font-size: 24px;
		}

		&.hideMobile {
			display: none;
			@include desktop-and-bigger {
				display: unset;
			}
		}
	}

	&-form {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&-passwordToggle {
		cursor: pointer;
	}

	&-passwordForget {
		margin: auto;
	}

	#formButton.loading {
		position: relative;
		overflow: hidden;

		&::before {
			content: "";
			position: absolute;
			background-color: $black;
			background-image: url("../../assets/loader.svg");
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 50px;
			top: 0;
			bottom: 0;
			left: 0;
			right: -25px; // pour centrer & compenser le background-size

			animation-name: startLoading;
			animation-duration: 0.7s;
			animation-iteration-count: 1;
			animation-timing-function: ease-out;

			@keyframes startLoading {
				from {
					opacity: 0;
				}
				to {
					opacity: 1;
				}
			}
		}
	}

	&-paragraph {
		text-align: center;
		margin-bottom: 10px;

		@include tab-and-bigger {
			margin-bottom: 20px;
		}

		@include desktop-and-bigger {
			margin-bottom: 40px;
		}
	}

	&-inscription * {
		color: $white;
	}
}
