@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@500&display=swap");

$black: #000000;
$white: #ffffff;
$blue-light: #9cb9e4;
$blue-dark: #0d47a1;
$red: #b30909;
$grey: #4f4f4f;

$minTab: 768px;
$maxTab: 1023px;
$minDesktop: 1024px;

@mixin font-title {
	font-family: "Roboto";
	font-weight: 500;
}

@mixin font-content {
	font-family: "Poppins";
	font-weight: 300;
}

@mixin tab-and-smaller {
	@media screen and (max-width: $maxTab) {
		@content;
	}
}
@mixin tab-only {
	@media screen and (min-width: $minTab) and (max-width: $maxTab) {
		@content;
	}
}
@mixin tab-and-bigger {
	@media screen and (min-width: $minTab) {
		@content;
	}
}
@mixin desktop-and-bigger {
	@media screen and (min-width: $minDesktop) {
		@content;
	}
}

* {
	margin: 0;
	padding: 0;
	font-size: 12px;
	color: $black;
	box-sizing: border-box;
	@include font-content;

	@include tab-and-bigger {
		font-size: 14px;
	}

	@include desktop-and-bigger {
		font-size: 16px;
	}
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	background: linear-gradient(175deg, $blue-light, $blue-dark);
	background-size: 400% 400%;
	animation-name: mouvement;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in;
	animation-duration: 4s;

	@include tab-and-bigger {
		animation-duration: 3s;
	}

	@keyframes mouvement {
		0% {
			background-position: 0% 88%;
		}
		50% {
			background-position: 100% 13%;
		}
		100% {
			background-position: 0% 88%;
		}
	}
}

.container {
	max-width: $minDesktop - 60px;
	width: 100%;
	background-color: $white;
	margin-right: 30px;
	margin-left: 30px;
	@include tab-and-bigger {
		max-width: $minDesktop - 100px;
		margin-right: 50px;
		margin-left: 50px;
	}
	@include desktop-and-bigger {
		max-width: $minDesktop;
		margin-right: auto;
		margin-left: auto;
	}
}

.buttonPrimary {
	background-color: $black;
	color: $white;
	padding: 5px 45px;
	border-radius: 50px;
	border: none;
	cursor: pointer;
	text-transform: uppercase;
	display: block;
	margin: 10px auto;
	font-size: 12px;
	height: 29px;
	display: flex;
	align-items: center;
	min-width: 150px;

	@include tab-and-bigger {
		font-size: 14px;
	}

	@include desktop-and-bigger {
		font-size: 16px;
		height: 34px;
	}
}

.buttonSecondary {
	color: $white;
	padding: 5px 45px;
	border: solid $white 1px;
	border-radius: 50px;
	cursor: pointer;
	text-transform: uppercase;
	display: block;
	margin: 10px auto;
	height: 29px;
	font-size: 12px;
	display: flex;
	align-items: center;
	min-width: 150px;

	@include tab-and-bigger {
		font-size: 14px;
	}

	@include desktop-and-bigger {
		height: 34px;
		font-size: 16px;
	}
}

.doubleInput {
	@include tab-and-bigger {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 20px;
	}
}

.inputGroup {
	margin-bottom: 10px;
	position: relative;

	.label {
		display: block;
		margin-bottom: 5px;
	}

	.input {
		border: solid $black 1px;
		border-radius: 5px;
		width: 100%;
		height: 30px;
		padding-inline-start: 10px;
		padding-inline-end: 10px;
		padding-block-start: 5px;
		padding-block-end: 5px;
		outline: none;

		&:focus,
		&:active {
			border-color: $blue-dark;
		}
	}

	textarea {
		resize: vertical;
		min-height: 60px;
		max-height: 120px;

		@include desktop-and-bigger {
			min-height: 80px;
		}
	}

	.image + .input {
		padding-inline-end: 40px;
	}

	.image {
		position: absolute;
		height: 20px;
		right: 10px;
		bottom: 5px;
	}
}

.errors {
	color: $red;
	@include font-content;
	font-size: 10px;
	margin-block-end: 10px;

	@include tab-and-bigger {
		font-size: 12px;
	}

	@include desktop-and-bigger {
		font-size: 14px;
	}

	&.hidden {
		display: none;
	}
}
