@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@500&display=swap');

$black: #000000;
$white: #FFFFFF;
$blue-light: rgb(156, 185, 228);
$blue-dark: #0D47A1;

$minTab: 768px;
$maxTab: 1023px;
$minDesktop: 1024px;

@mixin font-title {
	font-family: 'Roboto';
	font-weight: 500;
}

@mixin font-content {
	font-family: 'Poppins';
	font-weight: 300;
}

@mixin tab-and-smaller {
	@media screen and (max-width: $maxTab) {
		@content;
	}
}
@mixin tab-only {
	@media screen and (min-width: $minTab) and (max-width: $maxTab) {
		@content;
	}
}
@mixin tab-and-bigger {
	@media screen and (min-width: $minTab) {
		@content;
	}
}
@mixin desktop-and-bigger {
	@media screen and (min-width: $minDesktop) {
		@content;
	}
}

* {
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 24px;
	color: $black;
	@include font-content;
}

html, body {
	height: 100%
}

body {
	margin: 0;
	padding: 0;
	background-color: $blue-light;
}

.container {
	max-width: $minDesktop;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	background-color: $white;
}

.buttonPrimary {
	background-color: $black;
	color: $white;
	padding: 5px 45px;
	border-radius: 50px;
	border: none;
	cursor: pointer;
	text-transform: uppercase;
	display: block;
	margin: 10px auto;
}